[Unit]
Description=MyApp Service
After=network.target

[Service]
WorkingDirectory=/opt/stage_5b
ExecStart=/usr/local/bin/yarn start >> /var/log/myapp.log 2>&1 # Update this path based on the output of `which yarn`
Restart=on-failure
RestartSec=10s
User=hng
Group=hng
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
